.card {
    color:brown;
    border: 1px solid black;
    border-radius: 15px;
    width: 450px;
    height: 250px;
    background-color: white;
    font-weight: bold;
    margin:20px;
}

.carsMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    background-color: antiquewhite;
}

.cars {
    margin-left: 10px;
    font-size: 18px;
}

.search {
    margin: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    border-color: 1px solid black;
}